body {
    color: purple;
    text-align: center;
}

h3{
    font-size: 72px;
}

p {
    
}

.blue-bar {
    height: 50px;
    background-color:  rgba(102, 204, 255, .15);
    
}

#button {
    width: 250px;
    height: 250px;
    background-color: maroon;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 80;
    font-family: Jua;
    line-height: .9;
    margin: 50px 2px;
    cursor: pointer;
    border-radius: 250px;
    
}